html,
body {
  height: 100% !important;
  font-size: 0.8rem !important;
  font-family: "LaoFont", "phetsarath" !important;
  color: rgb(136, 147, 151);
  /* background-color: '#a1d1f31c' !important; */
  background-color: #e1e1e1 !important;
  overflow: hidden;
}
.v-table table,
td,
th {
  border: 2px solid #9c9c9c1f;
  border-collapse: collapse !important;
}

.v-table table > thead > tr > th {
  background-color: #3949ab !important;
  color: white !important;
  text-align: center !important;
  font-size: 0.97rem !important;
}

.v-table {
  --v-table-header-height: 45px !important;
  border-radius: inherit;
  line-height: 1.5;
  max-width: 100%;
  text-align: center;
}

.v-table--density-default > .v-table__wrapper > table > tbody > tr > td,
.v-table--density-default > .v-table__wrapper > table > thead > tr > td,
.v-table--density-default > .v-table__wrapper > table > tfoot > tr > td {
  height: calc(var(--v-table-row-height, 45px) + 0px) !important;
}

.v-timeline-item__body {
  width: 100% !important;
  min-width: 980px !important;
}

@font-face {
  font-family: "EnglistFont";
  src: url("@/assets/fonts/boonhome-400_0.otf") format("opentype");
  /* src: url('@/assets/fonts/Dosis-Regular.ttf') format("truetype"); */
}

@font-face {
  font-family: "LaoFont";
  src: url("@/assets/fonts/boonhome-400_0.otf") format("opentype");
}

@font-face {
  font-family: "Dosis";
  src: url("@/assets/fonts/Dosis-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "phetsarath";
  src: url("@/assets/fonts/Phetsarath_OT.ttf") format("truetype");
}

.m-border-color {
  border: 1px solid rgb(192, 192, 192) !important;
}
