.v-table table,
td,
th {
  border: 4px solid #9c9c9c1f;
  border-collapse: collapse !important;
}

.v-table table > thead > tr > th {
  background-color: rgb(251, 241, 241) !important;
  color: rgb(0, 0, 0) !important;
  text-align: center !important;
  font-size: 0.97rem !important;
}

.v-table {
  --v-table-header-height: 45px !important;
  border-radius: inherit;
  line-height: 1.5;
  max-width: 100%;
}

.v-table--density-default > .v-table__wrapper > table > tbody > tr > td,
.v-table--density-default > .v-table__wrapper > table > thead > tr > td,
.v-table--density-default > .v-table__wrapper > table > tfoot > tr > td {
  height: calc(var(--v-table-row-height, 45px) + 0px) !important;
}

.v-timeline-item__body {
  width: 100% !important;
  min-width: 980px !important;
}
